<header>
  <mat-toolbar color="primary">
    <a class="tabs" 
      matRipple
      [matRippleColor]="'rgba(255,255,255,0.3)'"
      [matRippleRadius]="40"
      *ngIf="!user" [routerLink]="['/']">Home</a>
    <a class="tabs" 
    matRipple
    [matRippleColor]="'rgba(255,255,255,0.3)'"
    [matRippleRadius]="40"
    *ngIf="user" [routerLink]="['/dashboard']"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <span class="example-spacer"></span>
    <div>
      <a class="links side" [matMenuTriggerFor]="theme">
        <mat-icon>palette</mat-icon>
      </a>
      <mat-menu #theme="matMenu">
        <button mat-menu-item (click)="changeTheme('pink')">Pink <mat-icon *ngIf="selectedTheme === 'pink'">done</mat-icon></button>
        <button mat-menu-item (click)="changeTheme('teal')">Teal <mat-icon *ngIf="selectedTheme === 'teal'">done</mat-icon></button>
      </mat-menu>
    </div>
    <a class="links side" [routerLink]="['/auth/login']" *ngIf="!user">Login</a>
    <div>
      <a class="links side" *ngIf="user" [matMenuTriggerFor]="menu">
        <mat-icon>face</mat-icon>{{user.fullname}}
      </a>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="user && user.isAdmin" [routerLink]="['/admin']">Admin</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
