
<div fxLayout="row" fxLayoutAlign="center" class="login">
  <div fxFlex="40%" fxFlex.xs="90%" fxFlex.sm="70%">
    <mat-toolbar color="primary">
        <span>Login</span>
    </mat-toolbar>
    <mat-card>
      <mat-card-content>
        <div  fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="80%" class="login-container">
            <mat-form-field appearance="legacy">
              <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>

            <mat-card-actions class="actions">
              <mat-spinner [diameter]="15" *ngIf="processing" class="spinner"></mat-spinner>
              <button mat-raised-button [disabled]="processing" (click)="login()" color="accent">
                Submit
              </button>
              <span>Don't have an account ? <a [routerLink]="['/auth/register']" >register</a> here</span>
            </mat-card-actions>
            
            <span class="error-msg" *ngIf="errorMsg">{{errorMsg}}</span>
            
          </div>
        </div>
      </mat-card-content>
      
    </mat-card>
  </div>
</div>
