
<div fxLayout="row" fxLayoutAlign="center" class="login">
  <div fxFlex="40%" fxFlex.xs="90%" fxFlex.sm="70%">
    <mat-toolbar color="primary">
        <span>Login</span>
    </mat-toolbar>
    <mat-card>
      <mat-card-content>
        <form (ngSubmit)="login()" fxLayout="row" fxLayoutAlign="center">
          <div fxFlex="80%" class="login-container">
            <mat-form-field appearance="legacy">
              <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>

            <mat-card-actions class="actions">
              <mat-spinner [diameter]="15" *ngIf="processing" class="spinner"></mat-spinner>
              <button mat-raised-button [disabled]="processing"  color="accent">
                Submit
              </button>
              <span>Don't have an account ? <a [routerLink]="['/auth/register']" >register</a> here</span>

              <button mat-raised-button (click)="signInWithGoogle()" class="gsignin-btn">
                <span class="icon icon-google"></span>Signin With Google
              </button>
            </mat-card-actions>
            
            <span class="error-msg" *ngIf="errorMsg">{{errorMsg}}</span>
            
          </div>
        </form>
      </mat-card-content>
      
    </mat-card>
  </div>
</div>

<!-- <lib-weather></lib-weather> -->

<!-- <form class="section left-section" #form="ngForm" (ngSubmit)="submitForm(form)">
  <vui-input (onValueChange)="onResponse($event)" [style]="styleOpts"></vui-input>
  <div class="row">
      <mat-form-field class="col-6">
          <mat-label>Choose from date</mat-label>
          <input matInput [matDatepicker]="picker" [vuiInput]="optionsDate" name="fromDate" ngModel>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>
      <mat-form-field  class="col-6">
          <mat-label>Choose to date</mat-label>
          <input matInput [matDatepicker]="pickerT" [vuiInput]="optionsDate" name="toDate" ngModel>
          <mat-datepicker-toggle matSuffix [for]="pickerT"></mat-datepicker-toggle>
          <mat-datepicker #pickerT ></mat-datepicker>
      </mat-form-field>
  </div>
  <div class="row">
      <mat-form-field  class="col-6">
          <mat-label>First Name</mat-label>
          <input matInput type="text" [vuiInput]="optionsText" name="firstName" ngModel>
      </mat-form-field>
      <mat-form-field  class="col-6">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" [vuiInput]="optionsText" name="lastName" ngModel>
      </mat-form-field> 
  </div>

  <div class="row">
      <mat-form-field  class="col-6">
          <mat-label>Age</mat-label>
          <input matInput type="text" [vuiInput]="optionsNumber" name="age" ngModel>
      </mat-form-field>

      <mat-form-field  class="col-6">
          <mat-label>Occupation</mat-label>
          <input matInput type="text" [vuiInput]="optionsText" name="occupation" ngModel>
      </mat-form-field>
      
  </div>
  <div class="row">
      <mat-form-field class="col-6">
          <mat-label>Address line 1</mat-label>
          <textarea matInput type="text" [vuiInput]="optionsAddress" name="address-line1"></textarea>
      </mat-form-field>  
      <mat-form-field class="col-6">
          <mat-label>Address line 2</mat-label>
          <textarea matInput type="text" [vuiInput]="optionsAddress" name="address-line2"></textarea>
      </mat-form-field>    
  </div>
  <button mat-raised-button [vuiInput]="optionsText">Submit</button>
  
</form> -->
