<div fxLayout="row" fxLayoutAlign="center" class="login">
  <div fxFlex="40%">
    <mat-toolbar color="primary">
      <span>Register</span>
    </mat-toolbar>
    <mat-card class="example-card">
      <mat-card-content>
        <form class="example-form">
          <table cellspacing="0" [formGroup]="userForm">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Fullname" formControlName="fullname" name="fullname" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Email" formControlName="email" name="email" required>
                  <mat-error *ngIf="email.invalid && email.errors.email">Invalid email address</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Reapet Password" formControlName="repeatPassword" type="password" name="repeatPassword" required>
                  <mat-error *ngIf="repeatPassword.invalid && repeatPassword.errors.passwordMatch">Password mismatch</mat-error>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
      </mat-card-content>
      <mat-card-actions class="actions">
        <button mat-raised-button (click)="register()" color="accent">Register</button>
        <span>Already have an account ? <a [routerLink]="['/auth/login']">login</a> here</span>
      </mat-card-actions>
    </mat-card>
  </div>
</div>